:root {
    --color-background:#154360;
    --color-h1:#27D1E2;
    --color-p:#AAB7B8 ;
    --font-family:'Open Sans', sans-serif;
}
body{
    background-color: var(--color-background);
    font-family: var(--font-family);
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
header{
    margin-top: 40px;
    margin-left: 120px;
}
main{
    width: 1000px;
    height: 900px;
}
#text-center{
    font-size:125px;
    color: var(--color-h1);
    position: relative;
    letter-spacing: 3px;
    width: 800px;
    left: 120px;
    bottom: 50px;
}
#avatar3{
    position: relative;
    bottom: 522px;
    left: 22px;
    z-index: -1;
}
#avatar5{
    position: relative;
    left:580px;
    bottom: 560px;
    width: 120px;
    z-index: -1;
}
#avatar2{
    position: relative;
    left: 610px;
    bottom: 560px;
} 
#text-start{
    width: 500px;
    font-size: 22px;
    color: var(--color-p);
    font-weight: bold;
    position: relative;
    left: 130px;
    bottom: 320px;
}
span{
    position: relative;
    z-index: 2;
}
#avatar6{
    position: relative;
    left: 340px;
    bottom: 490px;
    z-index: 1;
}
#avatar1{
    position: relative;
    left: 580px;
    bottom: 530px;
    z-index: -1;
}
button{
    font-family: var(--font-family);
    color:var(--color-background) ;
    background-color: var(--color-h1);
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
    width: 250px;
    height: 70px;
    border-radius: 7px;
    border: 2px solid var(--color-background);
    position: relative;
    bottom: 410px;
    left: 130px ;
}
.text-img{
    color: var(--color-p);
    padding: auto;
}
#twitter{
    display: flex;
    position: relative;
    bottom: 360px;
    left: 130px;
    align-items: flex-start;
    text-align: center;
} 
#twitter img{
    position: relative;
    top: 10px;
    width: 50px;
    margin-right: 20px;
}
#avatar4{
    position: relative;
    bottom: 500px;
    left: 800px;
}

@media  (max-width:400px){
    main{
        flex-direction: column;
        max-width: 500px;
    }
    header{
        margin-top: 30px;
        margin-left: 30px;
    }
    header img{
        width: 100px;
    }
    #text-center{
        width: 400px;
        position: relative;
        top: 120px;
        left:20px;
        font-size: 39px;
        letter-spacing: 3px;
    }
    #avatar3{
        position: relative;
        left: 50px;
        width: 100px;
        bottom: 125px;
    }
    #avatar2{
        bottom: 100px;
        width: 130px;
        left: -40px;
        z-index: -1;
    }
    #text-start{
        width: 300px;
        left: 20px;
        font-size:20px ;
        bottom: 50px;
    }
    button{
        left: 20px;
        bottom: 150px;
    }
    #twitter{
        top: 240px;
        bottom: 0;
        left:20px ;
    }
    #avatar6{
        left: -60px;
        bottom: 0;
        z-index: -1;
    }
}